html {
    background: linear-gradient(90deg, rgba(15,181,208,1) 11%, rgba(57,167,151,1) 49%, rgba(0,212,255,1) 100%);
}

body {
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

h1, h2, h3, h4 {
    color: beige;
}

.video-player {
    border-radius: 20px;
}

.video-player-container {
    position: relative;
    width: 50%;
    height: 50%;
}

.video-player-controls {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    align-items: flex-end;
    margin-bottom: 10px;
}

.duration-container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 10px;
}

.current-time {
    color: white;
    font-size: 14px;
}

.audio-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.audio-controller {
    writing-mode: bt-lr;
    -webkit-appearance: slider-vertical;
    width: 10px;
    display: none;
    overflow: hidden;
}

.audio-container:hover .audio-controller {
    display: block;
}

.audio-icon {
    color: white;
    cursor: pointer;
}

.audio-icon:hover {
    opacity: 0.8;
}

.play-button {
    background: none;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    border: 0;
    color: white;
    cursor: pointer;
    transition: background 0.8s;
}

.play-button:hover {
    background-color: rgba(176, 166, 166, 0.8);;
}
